@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

/* Features Section */
.features-bg {
  background: url(../assets/img/features-gradient.png);
  background-position: center center;
  background-size: cover;
}

/* Inicia tu negocio Section */
.company-bg {
  background: url(../assets/img/company-gradient.png);
  background-position: center center;
  background-size: cover;
}

/* Animations for letters */
.wrapper {
  width: 100%;
  margin-inline: auto;
  position: relative;
  height: 100px;
  overflow: hidden;
}

@keyframes scrollLeft {
  to {
    left: -400px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.item {
  width: 300px;
  height: 100px;
  border-radius: 6px;
  position: absolute;
  left: max(calc(150px * 14), 100%);
  animation-name: scrollLeft;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item-right {
  width: 20px;
  height: 100px;
  border-radius: 6px;
  position: absolute;
  right: max(calc(150px * 14), 100%);
  animation-name: scrollRight;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(60s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(60s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(60s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(60s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(60s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(60s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(60s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(60s / 8 * (8 - 8) * -1);
}

/* Overlay al hover en valores - Página Nosotros */
.image-container {
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(235, 104, 10, 0.559);
  opacity: 0;
  border-radius: 1.3rem;
  transition: opacity 0.3s;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

.image-container:hover .image-text {
  opacity: 0;
}

/* Scroll animation */
.translate-up,
.translate-left,
.translate-right,
.translate-down {
  opacity: 0;
  transform: translateY(20px); /* Por defecto, se mueve hacia abajo */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.translate-up {
  transform: translateY(14rem); /* Por defecto, se mueve hacia abajo */
}

.translate-left {
  transform: translateX(-3rem); /* Se mueve desde la izquierda */
}

.translate-right {
  transform: translateX(3rem); /* Se mueve desde la derecha */
}

.translate-down {
  transform: translateY(7rem); /* Se mueve desde abajo */
}

.translate-from-top-to-down {
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  transform: translateY(-20rem); /* Se mueve desde abajo */
  opacity: 0;
}

.rotate360 {
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  transform: rotate(360deg); /* Se mueve desde abajo */
  opacity: 0;
}

/* Animaciones activadas */
.translate-up.visible {
  opacity: 1;
  transform: translateY(0);
}

.translate-left.visible {
  opacity: 1;
  transform: translateX(0);
}

.translate-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.translate-down.visible {
  opacity: 1;
  transform: translateY(0);
}

.translate-from-top-to-down.visible {
  opacity: 1;
  transform: translateY(0);
}

.rotate360.visible {
  opacity: 1;
  transform: rotate(0deg);
}
