@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

/* Features Section */
.features-bg {
  background: url(../assets/img/features-gradient.png);
  background-position: center center;
  background-size: cover;
}

/* Inicia tu negocio Section */
.company-bg {
  background: url(../assets/img/company-gradient.png);
  background-position: center center;
  background-size: cover;
}

/* Animations for letters */
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

.animated-text span {
  display: inline-block;
  animation: moveRight 8s ease-in-out infinite;
}

.animated-text:nth-child(2) span {
  animation: moveLeft 8s ease-in-out infinite;
}

.animated-text:nth-child(3) span {
  animation: moveRight 8s ease-in-out infinite;
}

.animated-text:nth-child(4) span {
  animation: moveLeft 8s ease-in-out infinite;
}

/* Overlay al hover en valores - Página Nosotros */
.image-container {
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(235, 104, 10, 0.559);
  opacity: 0;
  border-radius: 1.3rem;
  transition: opacity 0.3s;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

.image-container:hover .image-text {
  opacity: 0;
}

/* Scroll animation */
.translate-up,
.translate-left,
.translate-right,
.translate-down {
  opacity: 0;
  transform: translateY(20px); /* Por defecto, se mueve hacia abajo */
  transition: opacity .6s ease-out, transform .6s ease-out;
}

.translate-up {
  transform: translateY(14rem); /* Por defecto, se mueve hacia abajo */
}

.translate-left {
  transform: translateX(-3rem); /* Se mueve desde la izquierda */
}

.translate-right {
  transform: translateX(3rem); /* Se mueve desde la derecha */
}

.translate-down {
  transform: translateY(7rem); /* Se mueve desde abajo */
}

.translate-from-top-to-down {
  transition: opacity .6s ease-out, transform .6s ease-out;
  transform: translateY(-20rem); /* Se mueve desde abajo */
  opacity: 0;
}

.rotate360 {
  transition: opacity .6s ease-out, transform .6s ease-out;
  transform: rotate(360deg); /* Se mueve desde abajo */
  opacity: 0;
}

/* Animaciones activadas */
.translate-up.visible {
  opacity: 1;
  transform: translateY(0);
}

.translate-left.visible {
  opacity: 1;
  transform: translateX(0);
}

.translate-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.translate-down.visible {
  opacity: 1;
  transform: translateY(0);
}

.translate-from-top-to-down.visible {
  opacity: 1;
  transform: translateY(0);
}

.rotate360.visible {
  opacity: 1;
  transform: rotate(0deg);
}
